span {
    color:blue;
}
.fraseinicio{
    color: rgb(124, 124, 124);
}
p {
    font-size: 26px;
}

/*<p>.* Eixo: 1 -Identificação da escola;
<p>.* Eixo: 2 -Qualificação Docente;
<p>.* Eixo: 3- Mapeação das realidades educacionais especificas do Aluno;
*Eixo:4- Estratégias de Rotina e engajamento de estudantes e responsáveis para a execução
das atividades implementada;
*Eixo:5 -Agenda de Atividades;
*Eixo: 6- Estratégias de Contato com a família;
*Eixo: 7- Ferramentas Disponível para atividades com os estudantes;
*Eixo: 8- Estratégias de Monitoramento das atividades implantares;
*Eixo:9- Adequação dos direitos de Atividades ao Curriculum continuum;
    *Eixo:10- Programa de recuperação da Aprendizagem em língua Portuguesa e Matemática;
    *Eixo: 11- Estratégias de aplicação do Ensino Remoto (não presencial) para as modalidades de
ensino.
    -Educação Infantil
    - Ensino Fundamental Anos Inicias.</p>*/